Plug 'machakann/vim-highlightedyank'
Plug 'easymotion/vim-easymotion'
Plug 'tpope/vim-commentary'
Plug 'tpope/vim-surround'

nmap <Leader>confo :e ~/.ideavimrc<CR>
nmap <Leader>confr <Action>(IdeaVim.ReloadVimRc.reload)

nmap gD <Action>(GotoDeclaration)
nmap gt <Action>(GotoTypeImplementation)
nmap gi <Action>(GotoImplementation)
nmap gr <Action>(ShowUsages)
nmap gf <Action>(GotoFile)
nmap gC <Action>(GotoClass)
nmap gA <Action>(GotoAction)
nmap gs <Action>(GotoSymbol)

nmap Z <Action>(ToggleZenMode)
nmap L <Action>(ShowErrorDescription)
nmap K <Action>(QuickJavaDoc)

nmap <Leader>rn <Action>(RenameElement)
nmap <Leader>ca <Action>(ShowIntentionActions)

nmap <Leader>fa <Action>(ReformatCode) <Action>(OptimizeImports)
xmap <Leader>fs <Action>(ReformatCode)

nnoremap <c-o> :action Back<cr>
nnoremap <c-i> :action Forward<cr>
